body {
    margin-bottom: 1em;
}
h1 {
	margin: 1em 0;
	font-size: 1.5em;
}
h2 {
	margin: 0 0 1em 0;
	font-size: 1em;
}
h3 {
	font-size: 0.9em;
	font-variant: small-caps;
	margin: 0 0 0.25em;
}
h3 > div:nth-child(2) {
	font-weight: normal;
	margin: 0 0 1em;
}
h4 {
	margin: 0 0 0.5em;
	font-variant: small-caps;
}
h4.secPart > span:first-child::before {
	content: "Part ";

}
h4.secPart > span:first-child {
	min-width: 8%;
}
h4 > span:first-child {
	min-width: 6%;
	float: left;
}
.l1 > p, .l2 > p, .l3 > p, .l4 > p {
	margin-top: 0;
	margin-bottom: 0.2em;
}
.l1 > p > span, .l2 > p > span, .l3 > p > span, .l4 > p > span {
	display: inline-block;
}
.l1 > p > span:first-child, .l2 > p > span:first-child, .l3 > p > span:first-child, .l4 > p > span:first-child {
	margin-right: 2%;
	text-align: right;
}
.l1 > p > span:first-child {
	width: 8%;
}
.l1 > p > span:last-child {
	width: 90%;
}
.l2 > p > span:first-child {
	width: 15%;
}
.l2 > p > span:last-child {
	width: 83%;
}
.l3 > p > span:first-child {
	width: 22%;
}
.l3 > p > span:last-child {
	width: 76%;
}
.l4 > p > span:first-child {
	width: 29%;
}
.l4 > p > span:last-child {
	width: 69%;
}
.part p > span:first-child::before {content: "(";}
.part p > span:first-child::after {content: ")";}
#title, h3 {
	text-align: center;
}
#enactingDate {
	text-align: right;
}

p {
    line-height: 1.4em;
}


.amendment::before, .amendmentStart::before {
	font-weight: bolder;
	font-size: 1.4em;
	content: "[";
}
.amendment::after, .amendmentEnd::before {
	font-weight: bolder;
	font-size: 1.4em;
	content: "]";
}
.citation {
	vertical-align: top;
	position: relative;
	font-weight: bold;
	padding: 0 0.1em;
	color: black;
	font-size: .8em
}


.refTable {
    clear: both;
    margin: 0 0 1em 0;
    border: solid #C2C2C2 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(194, 194, 194);
    border-bottom: 4px solid #C2C2C2;
    background-color: #FFF;
    color: #000;
    padding: 7px;
    text-align: left;
}
.refTable > div:first-child {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    font-weight: bold;
}
.refTable > div > p > a {
    min-width: 6%;
    float: left;
}
.refTable > div > p > span {
    width: 90%;
    display: inline-block;
}

.affects {
    position: relative;
    left: calc(13% - 1.5em);
}
